 <app-cuadernos-administrar></app-cuadernos-administrar>




<div class="encabezado">
  <div class="tituloTxt">
  <h5 class="title" >Número de elementos 

  </h5>
  </div>
  <span class="separacion"></span>

</div>
<mat-divider></mat-divider>


   <div class="tablaCopias">

        <table mat-table [dataSource]="dataSource" matSort
             class="mat-elevation-z8">



        <!-- Name Column -->
        <ng-container matColumnDef="acreedores">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Ordenantes
          </th>
          <td mat-cell *matCellDef="let element"> {{element.acreedores}}</td>
        </ng-container>



          <ng-container matColumnDef="deudores">

            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
             Deudores
            </th>
            <td mat-cell *matCellDef="let element">{{element.deudores}}  </td>

          </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="remesas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Remesas
          </th>
          <td mat-cell *matCellDef="let element"> {{element.remesas}}   </td>
        </ng-container>

        <ng-container matColumnDef="recibos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Recibos
            </th>
            <td mat-cell *matCellDef="let element">{{element.recibos}} </td>
          </ng-container>
             <ng-container matColumnDef="remesasemitidas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Remesas Emitidas
          </th>
          <td mat-cell *matCellDef="let element">  {{element.remesasemitidas}}  </td>
        </ng-container>
           <ng-container matColumnDef="recibosemitidos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
           Recibos emitidos
          </th>
          <td mat-cell *matCellDef="let element"> {{element.recibosemitidos}}  </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>



    </div>


 <div class="botonesInferiorModal">
  <button class="mat-flat-button" (click)=" volverSinCopia()" mat-flat-button mat-dialog-close [matTooltip]="textosGuiaFacil.get('volver')">Volver</button>
  <button class="mat-flat-button" (click)="crearCopiaSeguridad()"mat-flat-button [matTooltip]="textosGuiaFacil.get('crearcopia')">Crear copia</button>
</div>
