


<div class="example-container">

  <div >
    <mat-form-field >
      <mat-label>Introduce usuario</mat-label>
      <input
        matInput
        placeholder="usuario123"
        [formControl]="nombre"
        (blur)="updateErrorMessage()"
        required
      />
      @if (nombre.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
    </mat-form-field>
  </div>

    <div >
        <mat-form-field>
          <mat-label>Introduce contraseña</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'"
          [formControl]="contrasena"/>

          @if (contrasena.invalid) {
            <mat-error>{{errorMessagecontra()}}</mat-error>
          }

          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"

            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

      <!-- PARA CONTROLAR ERROR DE LOGIN
         @if () {
          <mat-error>{{}}</mat-error>
        }-->

     </div>
        <div>
        <button mat-flat-button (click)="onSubmit()" >Iniciar sesión </button>

      </div>
      <mat-error>{{errorMessageFinal()}}</mat-error>

</div>



