
.container{
  height:auto;
  overflow: hidden; 
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin-left:16px
  }
  .info-btn{
    margin-right:0px;
    width: auto;
    height: auto;
    min-width: 0;

  }

