

.encabezado{
  display:flex;
  align-items: center;
  height:50px;
}
.container{
  height:auto;
  overflow: hidden;
}
.tituloTxt{
  margin-bottom: 26px;
}
.botonAyuda{
  margin-bottom:0px;
  padding:0px important!;
  height: fit-content;

}
.iconoAyuda{
  margin:0px;
}
.separacion{
  margin-right:16px;
}
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin-left:16px
  }
  
  .info-btn{
  margin-right:0px;
  width: 40px;
  height: 40px;
  min-width: 0;

}
  .encabezadoAyuda{
  display:flex;
  align-items: center;
  height:50px;
  justify-content: right;
}
.container{
  height:auto;
  overflow: hidden;
}


