<div class="container">
  <div class="encabezadoAyuda">
    <div class="tituloTxt">
      <!-- <h5 class="title"></h5> -->
    </div>
    <span class="separacion"></span>
    <span class="botonAyuda">
      <button class="info-btn" mat-mini-fab (click)="openSnackBar()"[matTooltip]="textosGuiaFacil.get('ayuda')" aria-label="Show/Hide tooltip on the button at the end of this section">
        <mat-icon class="iconoAyuda">help_outline</mat-icon>
      </button>
    </span>
  </div>

</div>

<!-- Tabla resumen de cliente (sustituye los <p>) -->




<span #migrarTooltip="matTooltip" [matTooltip]="textosGuiaFacil.get('guia')"></span>

<h3 class="title">Tipo de migración</h3>
<section class="example-section">



<mat-radio-group aria-label="option"
[value]="tipoMigracion()"
(change)="tipoMigracion.set($event.value)">


    <mat-radio-button value="1" [matTooltip]="textosGuiaFacil.get('manual')">Manual</mat-radio-button>
    <mat-radio-button value="2" [matTooltip]="textosGuiaFacil.get('masiva')" [disabled]="!rolEsAdmin()">Masiva</mat-radio-button>
  </mat-radio-group>
</section>



@if(tipoMigracion()==1)
{

    <app-mig-manual [mapa]=textosGuiaFacil></app-mig-manual>

}
@if(tipoMigracion()==2)
{
    <app-mig-masiva [mapa]=textosGuiaFacil></app-mig-masiva>
}

