.mat-tab-group {
    margin-bottom: 48px;
  }
  .cierresesion{
    display:flex;
    align-items: center;
    margin-right: 8px;
    width: fit-content;
    margin-bottom: 20px;
    
  

  }
  .cabecera{
    display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
    gap: 40px;               
  padding: 10px;
  
  }
  .cargarCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
     

  }
.btnCargaCliente{
  margin-bottom: 16px;
 

}

    .btnSalir{
    margin-left:16px;
  }

  .errorbusqueda{
  color: red ;

}


mat-form-field {
  margin-right: 16px;
}

.mat-flat-button-form, .mat-flat-button{
  margin-right: 16px;
  width: 196px;
}

.buscador{
  display:flex;
  align-items: center;
  margin-left: 16px;
  width:100%;


}

.formUsuario{

  display:flex;
  margin-bottom: 24px;
  width: 98%;
  margin-top: 24px;

}

.mat-tab-labels, .mat-tab-label, .mat-tab-link {
  color: white;
  font-size: 16px;
  background-color: #804A71;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: white;
  height: 5px; 
}
