.mat-tab-group {
    margin-bottom: 48px;
  }
  .cierresesion{
    display:flex;
    align-items: center;
    margin-right: 8px;
    width: fit-content;
    margin-bottom: 40px;
    margin-left:auto;

  }

  .cargarCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

  }






    .btnSalir{
    margin-left:16px;
  }

  #errorbusqueda{
  color: red ;

}


mat-form-field {
  margin-right: 16px;
}

.mat-flat-button-form, .mat-flat-button{
  margin-right: 16px;
  width: 196px;
}

.buscador{
  display:flex;
  align-items: center;
  margin-left: 16px;
  width:100%;


}

.formUsuario{

  display:flex;
  margin-bottom: 24px;
  width: 98%;
  margin-top: 24px;

}


::ng-deep .mat-tab-label {
  color: rgb(90,133,215) !important; /* Cambia este color según tu preferencia */
}
