<div class="cabecera">
    <div class="cargarCliente">
    <mat-form-field>
      <mat-label>ID Cliente</mat-label>
      <input matInput #idClienteMain >
    </mat-form-field>

    <button class="btnCargaCliente boton-azul" [matTooltip]="textosGuiaFacil.get('Buscar')" mat-flat-button (click)="cargarClienteDesdeMain(idClienteMain.value)" >Buscar</button>
  </div>
  <div class="cierresesion">
    <p>Usuario: {{mensaje()}}  ({{rolNombre()}}) </p>

    <button class="btnSalir" [routerLink]="['/']" [matTooltip]="textosGuiaFacil.get('ayuda')"(click)="resetPantalla()" mat-mini-fab aria-label="Example icon button with a menu icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>

  </div>

</div>

<mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTab()" (selectedIndexChange)="controlPestana($event)">

<mat-tab label="Resumen del cliente"><app-by-administrar></app-by-administrar></mat-tab>
@if(rol()!=3){
<mat-tab label="Copias de seguridad" [disabled]="!clienteEncontradoDesdeMain()"><app-by-copias></app-by-copias></mat-tab>
}
<mat-tab label="Visor de logs" [disabled]="!clienteEncontradoDesdeMain()"><app-by-logs></app-by-logs></mat-tab>
@if(rol()!=3){ <!-- Pestaña MIGRACIONES no disponible para rol Supervisor-->
<mat-tab label="Migrar usuario" [disabled]="!clienteEncontradoDesdeMain()"><app-by-migrar></app-by-migrar></mat-tab>
}


</mat-tab-group>




<router-outlet></router-outlet>

