<div class="container">
<div class="encabezado">

  <h5 class="title" >Administración de usuarios de AEBWeb
    <span >

      <button class="info-btn"   mat-mini-fab (click)="openSnackBar()" aria-label="Show/Hide tooltip on the button at the end of this section">
        <mat-icon>help</mat-icon>
      </button>



    </span>
  </h5>
</div>
    <mat-divider></mat-divider>
</div>

<p class="title">{{nombreCliente()}} {{nifCliente()}}</p><p class="title">{{dirCliente1()}} {{dirCliente2()}} {{dirCliente3()}} {{dirCliente4()}} {{dirCliente5()}} {{dirCliente6()}} {{dirCliente7()}}</p>
<!-- <p class="title">{{dirCliente()}}</p> -->
<br>
<div class="buscador">


    <mat-form-field>
        <mat-label>Cuaderno</mat-label>
          <!--AQUI HAY QUE MANDAR POR SELECTION CHANGE EL TIPO DE CUADERNO-->
         <mat-select #cuadernoSelect (selectionChange)="cargarTablaInicio($event.value)">
        @for (cuaderno of cuadernos; track cuaderno) {
            <mat-option [value]="cuaderno.value"
            [disabled]="!isCuadernoAvailable(cuaderno.value)">{{cuaderno.viewValue}}</mat-option>
        }
        </mat-select>
    </mat-form-field>

    </div>

    @if(tipoCuadernoSignal()!=''){
    <div class="tablaCopias">
        <table mat-table [dataSource]="dataSource" matSort
             class="mat-elevation-z8">
        <!-- <table mat-table  (matSortChange)="announceSortChange($event)"
             class="mat-elevation-z8"> -->


        <!-- Name Column -->
        <ng-container matColumnDef="ordenantes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Ordenantes
          </th>
          <td mat-cell *matCellDef="let element"> {{element.ordenantes}} </td>
        </ng-container>

        <!-- Weight Column -->

          <ng-container matColumnDef="cuenta">

            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
             Cuenta
            </th>
            <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>

          </ng-container>



        <!-- Symbol Column -->
        <ng-container matColumnDef="nif">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
            Nif-sufijo
          </th>
          <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Estado
            </th>
            <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  }

