

  <div class="container">
  <div class="encabezadoAyuda">
    <div class="tituloTxt">
      <!-- <h5 class="title"></h5> -->
    </div>
    <span class="separacion"></span>
    <span class="botonAyuda">
      <button class="info-btn" mat-mini-fab (click)="openSnackBar()" aria-label="Show/Hide tooltip on the button at the end of this section">
        <mat-icon class="iconoAyuda">help</mat-icon>
      </button>
    </span>
  </div>

</div>

<!-- Tabla resumen de cliente (sustituye los <p>) -->
  <div class="encabezado">
    <div class="tituloTxt">
      <h5 class="title">Listado de logs</h5>
    </div>
    <span class="separacion"></span>
  </div>
<mat-divider></mat-divider>


    @if(true){
        <app-consultas-logs [mapa]=textosGuiaFacil></app-consultas-logs>
    }



