.formUsuario{
  margin-bottom: 24px;
  margin-top: 24px;
  margin-left:16px;


}

.encabezado{
  display:flex;
  align-items: center;
  height:50px;
}

.tituloTxt{
  margin-bottom: 26px;
}
.botonAyuda{
  margin-bottom:0px;
  padding:0px important!;
  height: fit-content;

}
.iconoAyuda{
  margin:0px;
}
.separacion{
  margin-right:16px;
}
mat-form-field {
  margin-right: 64px;
  width: 320px;
}

.fechalog, .botoncargar{
  margin-left: 16px;

}
.botoncargar{
  margin-left: 16px;
  width: 196px;
}

mat-checkbox{
  margin-left: 6px;
}

.mat-flat-button-form, .mat-flat-button{
  margin-right: 16px;
  width: 196px;
}

.info-btn{
  margin-right:0px;
  width: 40px;
  height: 40px;
  min-width: 0;

}

.buscador{
  align-items: flex-start;
  width:100%;

}
.encabezadoAyuda{
  display:flex;
  align-items: center;
  height:50px;
  justify-content: right;
}
.container{
  height:auto;
  overflow: hidden !important;
}

.sin-scroll{
  overflow: hidden !important;
}



