
.buscador{

  display:flex;
  align-items: center;
  margin-left: 16px;
  width:98%;
}
.demo-row-is-clicked {
  font-weight: bold;
}

 .migraformmanual{

    margin-right: 64px;
 }
 .container{
  height:auto;
   overflow: hidden; /*para quitar scroll*/
 }

 .mat-flat-button-form, .mat-flat-button{
  margin-right: 16px;
  width: 196px;
}
  .btnCopias{
    display:flex;
    justify-content: flex-end;
    width: 99%;
    margin-top: 24px;
    margin-right:16px;

  }
  .encabezado{
  display:flex;
  align-items: center;
  height:50px;
}
.tituloTxt{
  margin-bottom: 26px;
}
.separacion{
  margin-right:16px;
}
