
.buscador{
  margin-top: 16px;
  display:flex;
  align-items: center;
  margin-left: 16px;
  width:98%;
}

 .migraformmanual{
    
    margin-right: 64px;
 }
  
  .mat-flat-button-form, .mat-flat-button{
  
    width: 196px;
  }