.formUsuario{

  display:flex;
  margin-bottom: 24px;
  width: 98%;
  margin-top: 24px;

}
.encabezadoAyuda{
  display:flex;
  align-items: center;
  height:50px;
  justify-content: right;
}
.contenedor-sin-scroll{
  overflow: hidden;
}
.encabezado{
  display:flex;
  align-items: center;
  height:50px;
  

}
/* p, h5, mat-label, mat-mdc-select-min-line{
  font-size: 14px !important;
} */


.tituloTxt{
  margin-bottom: 26px;
}
.botonAyuda{
  margin-bottom:0px;
  padding:0px important!;
  height: fit-content;

}
.iconoAyuda{
  margin:0px;
  
}
.separacion{
  margin-right:16px;
}

.container{
  height:auto;
  overflow: hidden;
}
.tarjetaContacto{
  width: 320px;
  margin-left: 320px;

}
.info-btn{
  margin-right:0px;
  width: 40px;
  height: 40px;
  min-width: 0;
 

}
.errorBusqueda{
  color: red ;
}


mat-form-field {
  margin-right: 16px;
}

.mat-flat-button-form, .mat-flat-button{
  margin-right: 16px;
  width: 196px;
}

.buscador{
  display:flex;
  align-items: center;
  margin-left: 16px;
  width:100%;


}

.separacion{
  margin-right:16px;
}



