<div class="container">
<div class="encabezado">

  <h5 class="title" >Listado de copias de seguridad
    <span >

      <button class="info-btn"   mat-mini-fab (click)="openSnackBar()" aria-label="Show/Hide tooltip on the button at the end of this section">
        <mat-icon>help</mat-icon>
      </button>



    </span>
  </h5>
</div>
    <mat-divider></mat-divider>

    <form class="formUsuario">
    <div class="buscador">


      <mat-form-field class="example-full-width">
        <mat-label>ID de cliente</mat-label>
        <input matInput #nombreID>
      </mat-form-field>
      <button (click)="busqueda(nombreID.value)" class="mat-flat-button-form" [matTooltip]="textosGuiaFacil.get('Buscar')" mat-flat-button >Buscar</button>

    </div>
    </form>

    @if(primeraBusqueda()){
      @if(!usuarioEncontrado()){ <!--PTE AÑADIR LA CONDICION DE BUSQUEDA PREVIA DEL USUARIO, por defecto vemos cliente 1-->
      <h5 class="title" id="errorbusqueda"> ERROR {{tipoError()}}</h5>
      }
      @else{

         <app-cuadernos-administrar></app-cuadernos-administrar>
      }
  }


</div>
