/* You can add global styles to this file, and also import other style files */
.header{
    margin-left: 8px;
    color: rgb(90,133,215);
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.title{
  color: rgb(90,133,215);
  margin-left: 16px;
  margin-bottom:0px;
}

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

