/* You can add global styles to this file, and also import other style files */
.header{
    margin-left: 8px;
    color: rgb(90,133,215);
    display: flex;
    justify-content: center;
    margin-top: 0px;
   
  
}

.title{
  color: rgb(90,133,215);
  margin-left: 16px;
  margin-bottom:0px;

}
.separacionVertical {
    height: 25px !important;
  }

*{
  font-size:14px;
  
}
td {
  background-color:rgba(90,133,215,0.15) !important;
}
th{
   background-color:rgba(90,133,215,0.3) !important;
}

h1{
  font-size:large !important;
  height: fit-content;
}

.mdc-tab__text-label{
  color: rgb(90,133,215) !important;
}



.info-btn ,.btnSalir{ /*quita fondo a los botones de salir y ayuda*/
  background-color:white !important;
  box-shadow: none !important;
}
.texto-azul{
  color: rgb(90,133,215);
}

.snackbar-pre{
  white-space: pre-line;
  width: 640px;
 
  --mat-sys-inverse-on-surface: rgb(90,133,215);
  --mat-sys-inverse-surface:white;

  margin: 0 !important;

  max-width: none;
  border: 2px solid  rgb(90,133,215);
  border-radius: 8px !important;

}
.mat-snack-bar-container{
  padding: 12px 24px !important;
  max-width: none;
  box-sizing: border-box;
}

body {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-label {
  color: rgb(90,133,215) !important;
}
.mat-mdc-tab-label.mat-mdc-tab-label-active {
  color: rgb(90,133,215) !important;
}

/* Opcional: cambiar el color de la línea inferior activa */
.mat-mdc-tab-indicator {
  background-color: rgb(90,133,215) !important;
   color: red;
}
.boton-azul:not(:disabled){ /*Para que el important no se aplique si esta desactivado el boon */
  background-color:  rgb(90,133,215)!important;
}
.barra-superior{
  height:10vh ;
  background: linear-gradient(to right,white ,rgba(90,133,215,0.30));
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
 width: 200px;
  margin-left: 16px;
}
.class-login{
  margin-top: 48px;
}
